* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

:root {

    /* grey */
    --grey-50: #f0f4f8;
    --grey-100: #d9e2ec;
    --grey-200: #bcccdc;
    --grey-300: #9fb3c8;
    --grey-400: #829ab1;
    --grey-500: #627d98;
    --grey-600: #486581;
    --grey-700: #334e68;
    --grey-800: #243b53;
    --grey-900: #102a43;
    --grey-table: #f4f5f7;
    --grey-sidebar: #d9d9d9;
    --grey-navbar: #d9d9d9;
    --bck-color: #ffffff;
    --toggle-btn: #ef4336;
    /* fonts  */
    --headingFont: 'Roboto Condensed', Sans-Serif;
    --bodyFont: 'Cabin', Sans-Serif;
    --small-text: 0.875rem;
    --extra-small-text: 0.7em;
    /* rest of the vars */
    --backgroundColor: var(--grey-50);
    --textColor: var(--grey-900);
    --borderRadius: 0.25rem;
    --letterSpacing: 1px;
    --transition: 0.3s ease-in-out all;
    --max-width: 1120px;
    --fixed-width: 500px;
    --fluid-width: 90vw;
    --breakpoint-lg: 992px;
    --nav-height: 6rem;
    /* box shadow*/
    --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
        0 2px 4px -1px rgba(0, 0, 0, 0.06);
    --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
        0 4px 6px -2px rgba(0, 0, 0, 0.05);
    --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
        0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.d-flex {
    display: flex;
}

.margin-pt5-rem {
    margin: 0.5rem;
}

.margin-1-rem {
    margin: 1rem;
}

.border-1px-black {
    border: 1px solid black;
}


.cursor-pointer {
    cursor: pointer;
}

.activeCategory {
    color: #5297dc;
    margin-bottom: 0.7rem;
    border-bottom: 3px solid #5297dc;
}

@media screen and (max-width :315px) {
    .font-size-pt7-rem {
        font-size: 0.7rem;
    }

}

.check {
    background-color: red;
    color: blue;
}

.overrideSpinner {
    margin-top: 40vh;
    margin-left: 40vw;
    color: var(--toggle-btn);
}

.chart-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.no-info-data {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7.5rem;
    color: red;
    font-size: 2rem;
}